/* .accordion{
    width:17%;
    border: 3px solid red;
    position: relative;
} */

.accordion-item{
    /* width: 19%; */
    border: 3px solid red;
    /* margin-left: 20px; */

}

.accordion-body, .music{
    text-decoration:solid;
    border: 3px solid red;
    text-align: center;
}

.main1{
    /* width:60%; */
    /* position:absolute; */
    /* top:42%; */
    border: 3px solid blue;
    margin-left: 50px;
    height: auto;
    display: inline-block;
}

/* .right-side{
    width:20%;
} */

body{
    background-color: black;
}

.container-fluid{
    position:sticky;
    border: 7px solid pink;
}

/* .carousel-inner{
    position: absolute;
    top:10px;
} */

/* .row g-0{
    display: inline-block;
}
/*  */
.card-body{
    display: inline-block;
} */

.col{
    /* margin: 10px; */
}

.card{
    text-align: center;
    padding: 2px;
    width: 130px;
    height: 130px;
    border: 3px solid aquamarine;
}

.col{
    margin: 6x;
}

.main2{
    border: 3px solid burlywood;
    padding-left: 21%;
    padding-right: 23%;
}